@{
    Layout = "~/Views/Shared/_LayoutRecoveredPassword.cshtml";
}
<!DOCTYPE html>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="~/css/Login/Loginview.css">
    <script src="~/js/Login/Loginview.js" defer></script>
</head>

<div id="loading-overlay" style="display: none;">
    <div class="loading-icon"> <img src="~/images/loading.gif" style="width:80px;height:80px;" /></div>
</div>
<div class="login_div">
    <div class="logo_div">
        <a href="~/Home/Index"><img src="../images/login_logo.png" alt="" class="" /></a>
    </div>
    <form>
        <div class="form-group">
            <i class="fas fa-user-circle" id="left_icon"></i>
            <input type="text" placeholder="Username" id="uname" value="@ViewBag.userID" class="form-control" />
            <div id="username_notif" style="display:none;color:red;">Please enter Username</div>
        </div>
        <div class="form-group pt-4">
            <i class="fas fa-lock" id="left_icon"></i>
            <input type="password" placeholder="Password" id="pwd" class="form-control" />
            <div id="paswword_notif" style="display:none;color:red;">Please enter Password</div>
            <i class="fas fa-eye" id="toggle_pwd"></i>
        </div>
        <div id="error_notif">
            <i class="fas fa-times" style="color:red;"></i>
            <span style="color:red; font-weight: bold;">Invalid Credential</span>
        </div>
        <div class="form-group pt-4">
            <div class="row">
                <div class="remember_container">
                    <input id="remember_me" type="checkbox" class="form-check-inline" />
                    <label class="rme_class">Remember me</label>
                </div>



                <div class="forgotpw_container">
                    <a href="~/Operators/PasswordRecovery" class="forgot_pwd">
                        Forgot
                        password?
                    </a>
                </div>
            </div>
        </div>



        <input type="button" value="Login" class="login_btn" onclick="login()" />
    </form>



    <div class="follow_block pt-2 pb-2">
        <ul class="social_icons">
            <li>
                <a href="https://www.virevo.it/" target="_blank">
                    <img src="../images/virevo.png" alt="">
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/company/virevo/" target="_blank">
                    <img src="../images/linkedin.png" alt="">
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/virevo_digital_kaizen/" target="_blank">
                    <img src="../images/instagram.png" alt="">
                </a>
            </li>



            <li>
                <a href="https://rb.gy/tmmod" target="_blank">
                    <img src="../images/youtube.png" alt="" />
                </a>
            </li>
        </ul>
    </div>
</div>
