<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]  Etwin</title>
   @*  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="icon" href="~/images/favicon.png" type="image/x-icon" />
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,400;1,700&display=swap"
          rel="stylesheet">

    <link href="~/css/font-awesome.css" rel="stylesheet" />
    <link href="~/css/sb-admin-2.css" rel="stylesheet">
    <link href="~/css/EtwinResponsive.css" rel="stylesheet" />
    <link href="~/css/StyleSheet.css" rel="stylesheet" /> *@
    <!-- Favicons -->
    <link href="~/css/HomeCss//img/favicon.png" rel="icon">
    <link href="~/css/HomeCss/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,600&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;0,900;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,600&display=swap"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/css/HomeCss/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/css/HomeCss/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/HomeCss/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/css/HomeCss/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/css/HomeCss/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/css/HomeCss/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/css/HomeCss/css/etwin-responsive.css" rel="stylesheet">
    <link href="~/css/HomeCss/css/style.css" rel="stylesheet">

</head>
<body>
   @*  <section id="topbar" class="d-flex align-items-center">
        <div class="container d-flex justify-content-center justify-content-md-between">
            <div class="contact-info d-flex align-items-center">
                <i class="bi bi-envelope d-flex align-items-center">
                    <a href="mailto:info@virevo.it">info@virevo.it</a>
                </i>
                <i class="bi bi-phone d-flex align-items-center ms-4"><span>0442 168 0038</span></i>
            </div>
            <div class="social-links d-none d-md-flex align-items-center">
                <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
            </div>
        </div>
    </section> *@
   @*  <header id="header" class="d-flex align-items-center">
        <div class="container d-flex align-items-center justify-content-between">

            <h1 class="logo"><a href="~/Home/Index"><img src="../images/logo.png" alt="logo"></a></h1>
            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                    <li><a class="nav-link scrollto" href="#about">About</a></li>
                    <li><a class="nav-link scrollto" href="#services">Services</a></li>
                    <li><a class="nav-link scrollto " href="#portfolio">Portfolio</a></li>
                    <li><a class="nav-link scrollto" href="#team">Team</a></li>

                    <li><a class="nav-link scrollto" href="#contact">Contact</a></li>

                </ul>
                <div style="clear: both;"></div>
                <div class="login_block">
                    <li class="login"><a class="nav-link" href="~/Operators/Loginview">Login</a></li>
                </div>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header> *@

    <!-- ======= Header ======= -->
    <header id="header" class="d-flex align-items-center">
        <div class="container d-flex align-items-center justify-content-between">

            <h1 class="logo"><a href="index.html"><img src="./css/HomeCss/img/logo.png" alt="logo"></a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt=""></a>-->

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto active" href="#">Home</a></li>
                    <li><a class="nav-link scrollto" href="https://www.virevo.it/" target="_blank">Chi siamo </a></li>
                    <li>
                        <a class="nav-link scrollto" href="https://www.virevo.it/etwin/" target="_blank">Soluzioni </a>
                    </li>
                    <li>
                        <a class="nav-link scrollto"
                           href="mailto:info@virevo.it?subject= Richiesta informazioni per collaborazione&body=Desidero informazioni riguardo le modalità di collaborazione con Virevo e chiedo di essere ricontattato via mail oppure al numero................">
                            Collabora
                            con noi
                        </a>
                    </li>
                    <li><a class="nav-link scrollto" href="#contact">Contatti </a></li>

                    <li><a class="nav-link scrollto" href="https://www.etwinsupport.com/" target="_blank">Supporto/FAQ </a></li>
                    <!-- <li><a class="nav-link scrollto" href="#"><button type="button" class="btn login-btn"
                                style="font-size: 15px;font-weight: 600;color: #191919;" data-toggle="modal"
                                data-target="#myModal">
                                Supporto/FAQ
                            </button></a></li> -->

                    <li><a class="nav-link scrollto" href="/Operators/Loginview">Login</a></li>

                </ul>

                <div class="social_icons d-none d-sm-block">
                    <a href="https://www.linkedin.com/company/86282999/admin/feed/posts/" class="linkedin" target="_blank">
                        <img src="./css/HomeCss/img/linkedin.png" />
                    </a>
                    <a href="https://www.instagram.com/virevo_digital_kaizen/" class="instagram" target="_blank">
                        <img src="./css/HomeCss/img/instagram.png" />
                    </a>
                    <a href="https://www.youtube.com/channel/UClPB8CANKzjg5RktoTP_Cew" class="youtube" target="_blank">
                        <img src="./css/HomeCss/img/youtube.png" />
                    </a>
                </div>

                <div style="clear: both;"></div>
                <!-- <div class="login_block">
                  <li class="login"><a class="nav-link" href="login.html">Login</a></li>
                </div> -->



                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header>
    <!-- End Header -->
    <div class="container-fluid p-0">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <!-- Start of Old Code -->
    <!-- ======= Footer ======= -->
    @* <footer id="footer">



        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h3>Etwin<span>.</span></h3>
                        <p>
                            A108 Adam Street <br>
                            New York, NY 535022<br>
                            United States <br><br>
                            <strong>Phone:</strong> 0442 168 0038<br>
                            <strong>Email:</strong> info@virevo.it<br>
                        </p>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Our Services</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">About Us</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Contact Us</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Team</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Our Social Networks</h4>
                        <p>Cras fermentum odio eu feugiat lide par naso tierra videa magna derita valies</p>
                        <div class="social-links mt-3">
                            <a href="#" class="twitter"><i class="bx bxl-twitter"> </i></a>
                            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                            <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                            <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <div class="container py-4">
            <div class="copyright">
                &copy; Copyright <strong><span>Etwin</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                Designed by <a href="/">Snmatrix Software India</a>
            </div>
        </div>
    </footer> *@
    <!-- End Footer -->
   @*  <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script> *@
    <!-- End of Old Code -->
    <!-- ======= Footer ======= -->
    <footer id="footer">



        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-4 col-md-6 footer-contact">
                        <h3>Virevo<span>.</span></h3>
                        <p>
                            Virevo è una società di consulenza per lo sviluppo aziendale che
                            ha un approccio molto concreto, basato sui dati oggettivi.

                            Siamo nati in azienda e abbiamo vissuto vent’anni cercando di abbattere costi, gestendo in
                            modo intelligente, riappropriandoci del tempo e del benessere che ogni persona merita.
                        </p>
                        <br />
                        <!-- <h4>Iscriviti alla newsletter</h4> -->
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links offset-lg-1">
                        <h4>Quick links</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="index.html">Home</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="https://www.virevo.it/">Chi siamo</a></li>
                            <li>
                                <i class="bx bx-chevron-right"></i> <a href="https://www.virevo.it/etwin/">Soluzioni</a>
                            </li>
                            <li>
                                <i class="bx bx-chevron-right"></i> <a href="mailto:commerciale@virevo.it"
                                                                       subject="Richiesta di contatto a Virevo,">Collabora con noi</a>
                            </li>
                            <li>
                                <i class="bx bx-chevron-right"></i> <a href="mailto:commerciale@virevo.it"
                                                                       subject="Richiesta di contatto a Virevo,">Contatti</a>
                            </li>
                            <!-- <li>
                                <i class="bx bx-chevron-right"></i>
                                <a href="#" data-toggle="modal" data-target="#myModal">
                                    Supporto/FAQ</a>

                            </li> -->
                            <li>
                                <i class="bx bx-chevron-right"></i>
                                Supporto/FAQ

                            </li>
                            <li>
                                <i class="bx bx-chevron-right"></i>
                                Login

                            </li>

                        </ul>


                        <!-- The Modal -->
                        <div class="modal" id="myModal">
                            <div class="modal-dialog" style="min-width: 350px; max-width: 400px;">
                                <div class="modal-content">

                                    <!-- Modal Header -->
                                    <div class="modal-header d-inline-block modal-header text-end">
                                        <!-- <h2 class="modal-title">&nbsp;</h2> -->
                                        <button type="button" class="close text-end" data-dismiss="modal" style="background: linear-gradient( 90deg, rgba(255, 139, 75, 1) 0%, rgba(255, 52, 50, 1) 100% );padding: 0px 8px; border: none;&times;">
</button>
                                    </div>



                                    <div class="col-12 p-0 mobile_bg pb-4">
                                        <div class="login_form">
                                            <div class="logo_div pb-4 ">
                                                <a href="index.html">
                                                    <img src="./css/HomeCss/img/login_logo.png" alt=""
                                                         class="" />
                                                </a>
                                            </div>
                                            <form>
                                                <div class="form-group">
                                                    <span class="user_icon"></span>
                                                    <input type="text" placeholder="Username" class="form-control"
                                                           required />
                                                </div>
                                                <div class="form-group pt-4">
                                                    <span class="password_icon"></span>
                                                    <input type="password" placeholder="Password" class="form-control"
                                                           required />
                                                </div>



                                                <button type="submit" class="login_btn" id="btnUserLogin"
                                                        onclick="UserLogin();">
                                                    Login
                                                </button>
                                            </form>
                                            <div class="follow_block pt-2 pb-2">
                                                <h4>Follow Us!</h4>
                                                <ul class="social_icons">
                                                    <li>
                                                        <a href="https://www.virevo.it/" target="_blank">
                                                            <img src="./css/HomeCss/img/virevo.png" alt="">
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="https://www.linkedin.com/company/virevo/"
                                                           target="_blank">
                                                            <img src="./css/HomeCss/img/linkedin.png" alt="">
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="https://www.instagram.com/virevo_digital_kaizen/"
                                                           target="_blank">
                                                            <img src="./css/HomeCss/img/instagram.png" alt="">
                                                        </a>
                                                    </li>

                                                    <li>
                                                        <a href="https://www.youtube.com/virevodigitalkaizen2785"
                                                           target="_blank">
                                                            <img src="./css/HomeCss/img/youtube.png" alt="" />
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-4 col-md-6 footer-links" id="contact">
                        <h4>Informazioni</h4>
                        <p class="footer-info">
                            Virevo srl <br />
                            Via Francia 21/C, 37135 Verona(VR)<br />
                            <a href="tel:+39 04421680038"> +39 04421680038</a> <br />
                            <a href="mailto:info@virevo.it">info@virevo.it</a> <br />
                            p.iva 04866710231
                        </p>

                    </div>

                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="container py-4">
            <div class="copyright">
                &copy; Copyright <strong><span>Etwin</span></strong>. All Rights Reserved
            </div>
            <div class="credits">

                <div class="social_icons d-none d-sm-block">
                    <a href="https://www.linkedin.com/company/86282999/admin/feed/posts/" class="linkedin" target="_blank">
                        <img src="./css/HomeCss/img/linkedin.png" />
                    </a>
                    <a href="https://www.instagram.com/virevo_digital_kaizen/" class="instagram" target="_blank">
                        <img src="./css/HomeCss/img/instagram.png" />
                    </a>
                    <a href="https://www.youtube.com/channel/UClPB8CANKzjg5RktoTP_Cew" class="youtube" target="_blank">
                        <img src="./css/HomeCss/img/youtube.png" />
                    </a>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer -->
    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center">
        <i class="bi bi-arrow-up-short"></i>
    </a>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Vendor JS Files -->
    <script src="~/css/HomeCss/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="~/css/HomeCss/vendor/aos/aos.js"></script>
    <script src="~/css/HomeCss/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/css/HomeCss/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/css/HomeCss/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/css/HomeCss/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/css/HomeCss/vendor/waypoints/noframework.waypoints.js"></script>
    <script src="~/css/HomeCss/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="~/css/HomeCss/js/main.js"></script>

    <script>
        $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').trigger('focus')
        })
        $(document).on("click", ".js-mail", function () {
            window.location.href = "mailto:info@virevo.it?subject= Richiesta informazioni per collaborazione&body=Desidero informazioni riguardo le modalità di collaborazione con Virevo e chiedo di essere ricontattato via mail oppure al numero................";
        })

    </script>


    <!-- <script type="text/javascript">
        $(document).ready(function () {
            $({ Counter: 0 }).animate({
                Counter: $('.Single').text()
            }, {
                duration: 1000,
                easing: 'swing',
                step: function () {
                    $('.Single').text(Math.ceil(this.Counter));
                }
            });
        })
    </script> -->
    @RenderSection("Scripts", required: false)
</body>
</html>
