@using DevExpress.AspNetCore;
@using DevExtreme.AspNet.Mvc;
@using ETwin.Documentations;
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>


@(Html.DevExpress().WebDocumentViewer("WebDocumentViewer").Bind(new SchedaDiProcesso()))