* {
    font-family: Roboto;
}

.login_div {
    min-width: 300px;
    max-width: 350px;
    text-align: center;
    padding: 20px;
    background: rgba(0, 0, 0, 0);
    border-radius: 20px;
    float: left;
    transform: translateX(40%);
}

main {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/*I manage the div when the screen is under a size*/
@media (max-width: 1200px) {
    .login_div {
        min-width: 300px;
        max-width: 300px;
        float: none; 
        margin: 0 auto; 
        transform: translateX(0%);
        background: rgba(255, 255, 255, 75%);
    }
}

@media (max-height: 650px) {
    .login_div {
        transform: translateY(0%);
        padding: 10px;
    }

    .login_btn {
        margin: 30px 20px 20px 20px;
    }

    .logo_div a img {
        width: 75%;
        height: 100%;
    }
}

@media (min-height: 650px) {
    .logo_div a img {
        width: 100%;
        height: 100%;
    }

    .login_btn {
        margin: 50px 20px 20px 20px;
    }
}

.form-group {
    display: flex;
    align-items: center;
    margin: 20px;
}

    .form-group i {
        position: absolute;
        display: flex;
        margin-left: 20px;
        font-size: 22px;
    }

.form-control {
    text-align: center;
    background: #eee;
    color: #191919;
    border: none;
    font-size: 18px;
    border-radius: 100px;
    padding: 10px 10px;
    text-align: left;
    text-indent: 45px;
}

    .form-control::before,
    .form-control:active,
    .form-control::after,
    .form-control:focus {
        font-size: 18px !important;
        background: #eee !important;
        color: #191919 !important;
    }

.login_btn {
    min-width: 200px;
    border-radius: 100px;
    background: linear-gradient(-90deg, rgba(255, 139, 75, 1) 0%, rgba(255, 52, 50, 1) 100%);
    margin: 50px 20px 20px 20px;
    color: #fff;
    text-transform: capitalize;
    border: none;
    padding: 10px 10px;
    font-size: 18px;
}

.logo_div {
    margin-bottom: 40px;
}

    .logo_div a img {
        width: 100%;
        height: 100%;
    }
